.navMainClass{
    height: 10px;
    width: 100%;
    background-color:white;
    display: flex;
    height: 65px;
    justify-content: space-between;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    filter: drop-shadow(2px 2px 15px rgb(216, 214, 214) );
}
.navMainClass ul{
    display: flex;
    gap: 20px;
    font-size: small;
    font-weight: bold;
    padding-left: 20px;

}
.navMainClass ul li:hover{
    color: rgb(255, 123, 0);
    transition-duration: 0.3s;
}
.navMainClass input[type="text"]{
    background-color: rgb(216, 213, 213);
    height: 50px;
    width: 350px;
    margin-top: -13px;
    border-radius: 50px;
    margin-right: 20px;
    margin-right: 5px;
    padding: 10px;
}
input[type="text"]:focus{
    border-color: white;
}